name: CMake Build Matrix

on: [push]

jobs:
  build:
    
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: build
      run: |
        cd Kapitel_2/Beispiel_1/
        cmake .
        make .
        ./cmake_tutorial_02
