name: CMake Build Matrix

on: [push]

jobs:
  build:
        
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix: 
        config: 
        - {
            name: "Windows Latest MSVC", artifact: "Windows-MSVC.7z",
            os: windows-latest,
            cc: "cl", cxx: "cl",
            environment_script: "C:/Program Files (x86)/Microsoft Visual Studio/2019/Enterprise/VC/Auxiliary/Build/vcvars64.bat"
          }
        - {
            name: "Windows Latest MinGW", artifact: "Windows-MinGW.7z",
            os: windows-latest,
            cc: "gcc", cxx: "g++"
          }
        - {
            name: "Ubuntu Latest GCC", artifact: "Linux.7z",
            os: ubuntu-latest,
            cc: "gcc", cxx: "g++"
          }
        - {
            name: "macOS Latest Clang", artifact: "macOS.7z",
            os: macos-latest,
            cc: "clang", cxx: "clang++"
          }

    steps:    
    - uses: actions/checkout@v2
    - name: build_code_3.1
      working-directory: Kapitel_3/Code_3.1/
      run: |
        mkdir build
        cd build
        cmake ..
        cmake --build .

    - uses: actions/checkout@v2  
    - name: build_code_3.2
      working-directory: Kapitel_3/Code_3.2/
      run: |
        mkdir build
        cd build
        cmake ..
        cmake --build .
        
    - uses: actions/checkout@v2
    - name: build_code_3.5
      working-directory: Kapitel_3/Code_3.5/
      run: |
        mkdir build
        cd build
        cmake ..
        cmake --build .
