name: CMake Build Matrix

on: [push]

jobs:
  build:
        
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix: 
        config: 
        - {
            name: "Windows Latest MSVC", artifact: "Windows-MSVC.7z",
            os: windows-latest,
            cc: "cl", cxx: "cl",
            environment_script: "C:/Program Files (x86)/Microsoft Visual Studio/2019/Enterprise/VC/Auxiliary/Build/vcvars64.bat"
          }
        - {
            name: "Windows Latest MinGW", artifact: "Windows-MinGW.7z",
            os: windows-latest,
            cc: "gcc", cxx: "g++"
          }
        - {
            name: "Ubuntu Latest GCC", artifact: "Linux.7z",
            os: ubuntu-latest,
            cc: "gcc", cxx: "g++"
          }
        - {
            name: "macOS Latest Clang", artifact: "macOS.7z",
            os: macos-latest,
            cc: "clang", cxx: "clang++"
          }

    steps:    
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: build_code_3.1
      working-directory: Kapitel_3/Code_3.1/
      run: |
        mkdir build
        cd build
        cmake ..
        cmake --build .

    - name: build_code_3.2
      working-directory: Kapitel_3/Code_3.2/
      run: |
        mkdir build
        cd build
        cmake ..
        cmake --build .
        
    - name: build_code_3.3
      working-directory: Kapitel_3/Code_3.3/
      run: |
        mkdir build
        cd build
        cmake ..
        cmake --build .
    
    - name: build_code_4.1
      working-directory: Kapitel_4/Code_4.1/
      run: |
        mkdir build
        cd build
        cmake ..
        cmake --build .

    - name: build_code_4.2
      working-directory: Kapitel_4/Code_4.2/
      run: |
        mkdir build
        cd build
        cmake ..
        cmake --build .
        
    - name: build_code_4.3
      working-directory: Kapitel_4/Code_4.3/
      run: |
        mkdir build
        cd build
        cmake ..
        cmake --build .
        
    - name: build_code_4.4
      working-directory: Kapitel_4/Code_4.4/
      run: |
        mkdir build
        cd build
        cmake ..
        cmake --build .
        
    - name: build_code_4.5
      working-directory: Kapitel_4/Code_4.5/
      run: |
        mkdir build
        cd build
        cmake ..
        cmake --build .
        
    - name: build_code_4.6
      working-directory: Kapitel_4/Code_4.6/
      run: |
        mkdir build
        cd build
        cmake ..
        cmake --build .
        
    - name: build_code_4.7
      working-directory: Kapitel_4/Code_4.7/
      run: |
        mkdir build
        cd build
        cmake ..
        cmake --build .
        
    - name: build_code_4.8
      working-directory: Kapitel_4/Code_4.8/
      run: |
        mkdir build
        cd build
        cmake ..
        cmake --build .
        
    - name: build_code_5.1
      working-directory: Kapitel_5/Code_5.1/
      run: |
        mkdir build
        cd build
        cmake ..
        cmake --build .
        
    - name: build_code_5.2
      working-directory: Kapitel_5/Code_5.2/
      run: |
        mkdir build
        cd build
        cmake ..
        cmake --build .
        
    - name: build_code_5.3
      working-directory: Kapitel_5/Code_5.3/
      run: |
        mkdir build
        cd build
        cmake ..
        cmake --build .
    
    - name: build_code_6.1
      working-directory: Kapitel_6/Code_6.1/
      run: |
        mkdir build
        cd build
        cmake ..
        cmake --build .
        
    - name: build_code_7.1
      working-directory: Kapitel_7/Code_7.1/
      run: |
        mkdir build
        cd build
        cmake ..
        cmake --build .
        
    - name: build_code_7.2
      working-directory: Kapitel_7/Code_7.2/
      run: |
        mkdir build
        cd build
        cmake ..
        cmake --build .
        
    - name: build_code_7.3
      working-directory: Kapitel_7/Code_7.3/
      run: |
        mkdir build
        cd build
        cmake ..
        cmake --build .
        
    - name: build_code_8.1
      working-directory: Kapitel_8/Code_8.1/
      run: |
        mkdir build
        cd build
        cmake ..
        cmake --build .
        
    - name: build_code_9.1
      working-directory: Kapitel_9/Code_9.1/
      run: |
        mkdir build
        cd build
        cmake ..
        cmake --build .
        
    - name: build_code_9.2
      working-directory: Kapitel_9/Code_9.2/
      run: |
        mkdir build
        cd build
        cmake ..
        cmake --build .
